{{page-title 'Index'}}
<div
  class='p-4 max-w-md bg-white rounded-lg border shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700 mx-auto my-10'
>
  <div class='flex justify-between items-center mb-4'>
    <h3
      class='text-xl font-bold leading-none text-gray-900 dark:text-white'
    >Latest Timeslots</h3>
    <LinkTo
      @route='timeslots.create'
      class='text-sm font-medium text-blue-600 hover:underline dark:text-[#FEA72C]'
    >
      Add a new Timeslot
    </LinkTo>
  </div>
  <div class='flow-root'>
    <ul role='list' class='divide-y divide-gray-200 dark:divide-gray-700'>
      {{#each this.model as |timeslot|}}
        <Timeslot::Card
          @timeslot={{timeslot}}
          @cancelTimeslot={{this.cancelTimeslot}}
          @deleteTimeslot={{this.deleteTimeslot}}
        />
      {{/each}}
    </ul>
  </div>
</div>
{{outlet}}